body {
  font-family: Helvetica;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
}

.main {
  margin-top: -95px;
  margin-left: -80px;
  min-height: 815px;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

@media only screen and (max-width: 1075px) {
  .main {
    margin-left: 0;
  }
}
@media only screen and (max-width: 875px) {
  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.logoandcaption {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: -115px;
  justify-content: center;
}

@media only screen and (max-width: 875px) {
  .logoandcaption {
    margin-top: 0px;
    text-align: center;
    margin-left: 25px;
  }
}
img {
  max-width: 320px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  text-align: center;
}

.caption {
  font-family: Helvetica;
  margin-left: 25px;
  padding-bottom: 10px;
  min-width: 380px;
  max-width: 500px;
  font-size: 18px;
}
.caption h2 {
  word-spacing: 0.09cm;
  margin-top: -10px;
  margin-bottom: -20px;
  margin-left: 5px;
  font-weight: lighter;
}

@media only screen and (max-width: 1075px) {
  .caption {
    font-size: 16px !important;
    max-width: 430px !important;
  }
}
@media only screen and (max-width: 875px) {
  .caption {
    font-size: 24px;
    line-height: 28px;
    width: auto;
  }
}
.right {
  display: grid;
  margin-left: 85px;
  margin-top: 50px;
  align-content: center;
}

.loginform {
  width: 370px;
  height: 330px;
  text-align: center;
  border: 2px solid #f0f2f5;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
.loginform a {
  color: #0866ff;
  font-size: 14px;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  text-decoration: none;
}
.loginform a:hover {
  text-decoration: underline;
}

input {
  padding: 3px 16px;
  margin: 6px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #dddfe2;
  font-size: 17px;
  font-weight: light;
  width: 90%;
  padding-left: 15px;
}
input:focus {
  caret-color: rgb(37, 110, 255);
  outline: 1px solid rgb(37, 110, 255);
}

.login {
  color: white;
  font-size: 19px;
  font-weight: 700;
  background-color: #0866ff;
  border: 1px solid #0866ff;
  width: 360px;
  height: 48px;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 9px;
}
.login:hover {
  background-color: #2676f7;
  cursor: pointer;
}

hr {
  border: none;
  margin-top: 20px;
  border-top: 1px solid rgb(208, 218, 218);
}

.create {
  margin: 10px;
  margin-top: 17px;
  padding: 0px 13px;
  color: white;
  background-color: #42b72a;
  border: 1px solid #42b72a;
  height: 48px;
  width: 200px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 17px;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;
}
.create:hover {
  background-color: #35a01f;
  cursor: pointer;
}

.form_caption {
  text-align: center;
  color: black;
  font-size: 14px;
}
.form_caption p {
  margin-top: 28px;
}
.form_caption p a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}
.form_caption p a:hover {
  text-decoration: underline;
}

.Footer {
  color: #737373;
  font-size: 12px;
  font-family: inherit;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 3px;
  padding-left: 3px;
  align-items: baseline;
  justify-content: center;
  width: 980px;
}
.Footer p {
  font-size: 11px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.Footer hr {
  margin: -1px 0px;
}

@media only screen and (max-width: 1075px) {
  .Footer {
    margin: 0 35px;
    width: auto;
  }
}
.languages {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  color: #8a8d91;
  font-size: 12px;
  font-family: inherit;
  cursor: pointer;
  line-height: 1;
  padding-inline-start: 0;
}
.languages li {
  margin-right: 10px;
}
.languages li:hover {
  text-decoration: underline;
}

.plus {
  border: 1px solid rgb(212, 197, 197);
  border-radius: 2px;
  background-color: #f5f6f8;
  margin-top: -4px;
  color: #7f8082;
}
.plus:hover {
  text-decoration: none !important;
  background-color: #ebeef0;
}
.plus h2 {
  height: 1px;
  margin-top: 0px;
  padding: 1.5px 9px;
}

.footer_items {
  list-style-type: none;
  color: #8a8d91;
  font-size: 12px;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.6;
  padding-inline-start: 0;
}
.footer_items li {
  margin-right: 20px;
}
.footer_items li img {
  height: 15px;
  margin-bottom: -2.5px;
  margin-left: -4px;
}
.footer_items li:hover {
  text-decoration: underline;
}